@font-face {
    font-family: 'Roboto';
    src: url('Fonts/roboto-condensed-webfont.eot');
    src: url('Fonts/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/roboto-condensed-webfont.woff2') format('woff2'),
         url('Fonts/roboto-condensed-webfont.woff') format('woff'),
         url('Fonts/roboto-condensed-webfont.ttf') format('truetype'),
         url('Fonts/roboto-condensed-webfont.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-mono';
    src: url('Fonts/Roboto-mono.eot');
    src: url('Fonts/Roboto-mono.eot?#iefix') format('embedded-opentype'),
         url('Fonts/Roboto-mono.woff2') format('woff2'),
         url('Fonts/Roboto-mono.woff') format('woff'),
         url('Fonts/Roboto-mono.ttf') format('truetype'),
         url('Fonts/Roboto-mono.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Skola';
    src: url('Fonts/Skola.eot');
    src: url('Fonts/Skola.eot?#iefix') format('embedded-opentype'),
         url('Fonts/Skola.woff2') format('woff2'),
         url('Fonts/Skola.woff') format('woff'),
         url('Fonts/Skola.ttf') format('truetype'),
         url('Fonts/Skola.svg#loraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('Fonts/lora-regular-webfont.eot');
    src: url('Fonts/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/lora-regular-webfont.woff2') format('woff2'),
         url('Fonts/lora-regular-webfont.woff') format('woff'),
         url('Fonts/lora-regular-webfont.ttf') format('truetype'),
         url('Fonts/lora-regular-webfont.svg#loraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BenchNine';
    src: url('Fonts/benchnine-regular-webfont.eot');
    src: url('Fonts/benchnine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/benchnine-regular-webfont.woff2') format('woff2'),
         url('Fonts/benchnine-regular-webfont.woff') format('woff'),
         url('Fonts/benchnine-regular-webfont.ttf') format('truetype'),
         url('Fonts/benchnine-regular-webfont.svg#loraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}