#structure {
    position: absolute;
    width: 100%;
    height: 100%;
    border-collapse: collapse; 
}

#structure td { 
    padding: 0;
    vertical-align: top;
}

/* === MAIN ============================================================= */

#loc_list a {
    display: inline-block;
    margin: 5px 0;
    padding: 7px 15px;
    color: black;
    background: #EEE;
    border: 1px solid #CCC;
    font-family: Roboto; 
}

#loc_list a:hover {
    color: #EEE;
    background: black;
}

#loc_list a#loc_selected {
    background: #80bfff;
}

.loc_table p {
    margin: 0;
    padding: 3px 10px 0 0;
    font-family: Roboto; 
}

.form_txt {
    font-family: Roboto;
}

#cont_new { display: none; }

#stop_update { display: none; }

#cont_update { 
    display: none;
    width: 100%;
    margin: 20px 0 0 0;
    font-family: Roboto;
}

#cont_update_folders {
    float: left;
    width: 150px;
    text-align: right;
}
#cont_update_files {
    float: left;
    width: 250px;
    text-align: right;
}
#cont_update_size { 
    float: left;
    width: 250px;
    text-align: right;
}

#cont_update td {padding: 0 10px; }

.update_num {
    font-family: Roboto-mono;
    font-size: 2em;
    color: #0f71a6;
}

#jpath { display: none; }
